.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: block; */
  color: white;
  font-weight: 600;
  left: 20px;
  bottom: 20px;
}
